<h3> Request New Sub </h3>

<% @assignments.each do |p| %>
  <td><%= p.to_s %></td>
<% end %>


<div class="row"><div class="col-md-6">
<div class="panel panel-default"><div class="panel-body">
    <%= form_for @sub do |f| %>
      <%= f.label "Assignments: " %>
      <%= f.select :assignment, @assignments, {}, {class: "form-control", style: "width:250px;display:inline"} %>
      <%= f.submit "Create", class:"btn btn-default" %>
    <% end %> 
</div></div></div></div>