<h3>Edit Preferences</h3>
<%= form_for @preference do |p| %>
    <%= p.nested_fields_for :preference_entries do |pe| %>
        <div class="row"><div class="col-md-10">
        <div class="panel panel-default"><div class="panel-body">
        <%= pe.select(:preference_type, [['Prefer', 'Prefer'], ['Class', 'Class'], ['R/N Work', 'R/N Work'], ['Obligation', 'Obligation']], {}, {class: "form-control form-control-medium", id:"PreferenceType"}) %>
        <%= pe.nested_fields_for :occurences, wrapper_options: {class:'form_inline'} do |eo| %>
            <div class="row"><div class="col-md-10">
            &emsp;  &emsp;
            <label class="checkbox-inline">
            <%= eo.check_box :su %> Su
            </label>
            <label class="checkbox-inline">
            <%= eo.check_box :m %> M
            </label>
            <label class="checkbox-inline">
            <%= eo.check_box :tu %> Tu
            </label>
            <label class="checkbox-inline">
            <%= eo.check_box :w %> W
            </label>
            <label class="checkbox-inline">
            <%= eo.check_box :th %> Th
            </label>
            <label class="checkbox-inline">
            <%= eo.check_box :f %> F
            </label>
            <label class="checkbox-inline">
            <%= eo.check_box :sa %> Sa &nbsp; &nbsp;
            </label>
            <%= eo.select(:start_time, @start_times, {}, {class: "form-control form-control-medium", id:"Start Time"}) %>
            <%= eo.select(:end_time, @end_times, {}, {class: "form-control form-control-medium", id:"End Time"}) %>
            </div>
            <div class="col-md-2">
            <%= eo.remove_nested_fields_link 'Remove Occurence' %>
            </div></div>
        <% end %>
        <div class="row"><div class="col-md-2 col-md-offset-10">
         <%= pe.add_nested_fields_link :occurences, 'Add Occurence' %>
         </div></div>
        <br>
        &emsp;  &emsp;<%= pe.text_area(:comments, size: "30x3") %>
        <br>
        &emsp;  &emsp;Comments
        <br><br>
        <%= pe.remove_nested_fields_link 'Remove Entry' %>
        </div></div>
        </div></div>
    <% end %>
    <%= p.add_nested_fields_link :preference_entries, 'Add Entry' %>
    <div class="row"><div class="col-md-2 col-md-offset-8">
    <div align="right">
    <%= p.submit "Submit Preference", class:"btn btn-default"%></div></div></div>
<% end %>