<h3><%= @username %>'s Assigned Schedule</h3>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><%= link_to("Assigned Schedule", user_assignments_path(@userid)) %></li>
  <li role="presentation"><%= link_to("Preference Schedule", user_preference_path(@userid)) %></li>
  <% if current_user.admin? %>
    <li role="presentation"><%= link_to("Delete Assignments", user_delete_assignments_path(@userid)) %></li>
  <% end %>
</ul>
<div>
<%= form_tag("/users/"+@userid.to_s+"/assignments", method: "get") do %>
  <%= select_tag :assignments_week_id, options_for_select(@weeks, @chosen_week), {class: "form-control", style: "width:210px;display:inline"} %>
  <%= submit_tag("Select Week", class:"btn btn-default") %>
<% end %>
</div>
<%= render partial: "layouts/weekly_calendar", locals: { all_times: User.all_times, entries_hash: @assignment_hash} %>