<h3><%= @user.name %>'s Assigned Schedule</h3>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><%= link_to("Assigned Schedule", "/users/"+@user.id.to_s+"/assignments") %></li>
  <li role="presentation"><%= link_to("Preference Schedule","/users/"+@user.id.to_s+"/preference") %></li>
  <div align="right">
  <%= form_tag("/users/"+@user.id.to_s+"/assignments", method: "get") do %>
    <%= select_tag :assignments_week_id, options_for_select(@weeks, @chosen_week), {class: "form-control form-control-wide"} %>
    <%= submit_tag("Select Week", class:"btn btn-default") %>
  <% end %>
  </div>
</ul>
<%= render partial: "layouts/weekly_calendar", locals: { all_times: User.all_times, entries_hash: @assignment_hash} %>