<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>CafeHub</title>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "dashboard.css" %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <%= image_tag("ETS_logo_CMYK_print_notagline.png", style: 'height:140%;width:auto;') %>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Dashboard", root_path %></li>
            <li><%= link_to "Edit Preferences", dashboard_new_preference_path %><li>
            <li><%= link_to "Submitted Preferences", dashboard_preferences_path %><li>
            <li><%= link_to "Latest Week", assignments_weeks_path %></li>
            <li><%= link_to "Request Time Off", root_path %></li>
            <li><%= link_to("Employees", '/users/all') %></li>
            <% if user_signed_in? and current_user.admin? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "New Facility", new_facilities_path %></li>
                  <li><%= link_to "New Week", new_assignments_weeks_path %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Manual Assignment", new_assignments_path %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Settings", settings_path %></li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    
    <p class="navbar-text footer navbar-fixed-bottom" align="right">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
  </body>
</html>